@charset "UTF-8";

.show__header {
	display: flex;
	justify-content: center;
	margin-top: 100px;
	padding: 300px;
	background-image: url('/images/background/question.png');
	background-position: 50% 20%;
}

.show__header h1 {
	font-size: 70px;
	color: black;
	font-weight: 600;
	margin-top: 70px;
}

.signUpShow__content {
	height:300px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin:150px 0;
}

.signUpShow__content div {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.signUpShow__info div{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	width: 350px;
	margin-bottom: 10px;
	font-size: 30px;
	
}
.signUpShow__content input, select{
	width: 150px;
	height: 30px;
}
.btn__sub button{
	border: 1px solid #ccc;
	margin-left: 280px;
	background-color: white;
	width: 80px;
	height: 50px;
	border-radius: 10px;
}
