@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

.Calendar {
	background-color: white;
	height: auto;
	width: 400px;
	margin: 0px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.3);
}

td {
	width: 50px;
	height: 50px;
}

.Calendar {
	text-align: center;
}

.Calendar>thead>tr:first-child>td {
	font-family: 'Questrial', sans-serif;
	font-size: 1.1em;
	font-weight: bold;
}

.Calendar>thead>tr:last-child>td {
	font-family: 'Questrial', sans-serif;
	font-weight: 600;
}

.Calendar>tbody>tr>td>p {
	font-family: 'Montserrat', sans-serif;
	height: 45px;
	width: 45px;
	border-radius: 45px;
	transition-duration: .2s;
	line-height: 45px;
	margin: 2.5px;
	display: block;
	text-align: center;
}

.pastDay {
	color: lightgray;
}

.today {
	background-color: #F5D042;
	color: #fff;
	font-weight: 600;
}

.futureDay {
	background-color: #FFFFFF;
}

.futureDay:hover {
	background: #eee;
}

.futureDay.choiceDay, .today.choiceDay {
	color: #fff;
	font-weight: 600;
}

.performDay {
	background: #0A174E;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}

.timeTableLabel {
	cursor: pointer;
}

.timeTableLabel.is-toggled {
	font-weight: bold;
}

#cellPlay {
	cursor: pointer;
}

.seat--info {
	background-color: #242333;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 400px;
	font-family: 'Lato', sans-serif;
	margin: 0;
	width: 400px;
}

.container {
	perspective: 1000px;
	margin-bottom: 30px;
}

.seat {
	background-color: #444451;
	height: 50px;
	width: 50px;
	margin: 3px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.seat.selected {
	background-color: #0289cc;
}

.seat:not(.occupied):hover {
	cursor: pointer;
	transform: scale(1.2);
}

.seat.occupied{
	pointer-events: none;
	background-color: #910000;
}

.showcase .seat:not(.occupied):hover {
	cursor: default;
	transform: scale(1);
}

.showcase {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 5px 10px;
	border-radius: 5px;
	color: #777;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

.showcase li {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 10px;
}

.screen {
	background-color: #fff;
	height: 80px;
	width: 300px;
	margin: 15px 0;
	margin-top: -10px;
	margin-bottom: 50px;
	transform: rotateX(-30deg);
	box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
	transform: rotateX(-30deg);
}

.seat--info {
	perspective: 400px;
}

.row {
	display: flex;
}

.reservation {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.reservation--Time {
	font-size: 30px;
}

.title {
	margin-left: -30px;
	margin-top: 30px;
}

.timeTableList {
	margin-left: -60px;
}

.side--middle {
	margin-top: -5px;
}

.btn--ticketing {
	width: 180px;
	height: 70px;
	border-style: none;
	border-radius: 10px;
	background-color: rgb(255, 80, 90);
	color: white;
	font-size: 30px;
	font-weight: 200;
	margin-top: 100px;
	margin-left: 200px;
}
