@charset "UTF-8";

.menu {
	display: flex;
}
.menu button{
	width: 280px;
	height: 95px;
	font-size: 20px;
	background-color: #fff;
	border-style: none;
}
.menu button:hover{
	background-color: #F6F6F6;
}
.question__header {
	display: flex;
	justify-content: center;
	margin-top:100px;
	padding: 300px;
	background-image: url('/images/background/question.png');
	background-position: 50% 20%;
}

.question__header h1 {
	font-size: 70px;
	color: black;
	font-weight: 600;
	margin-top: 70px;
}

.menu {
	height: 100px;
	border: 1px solid #ccc;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.menu div {
	height: 100px;
	border-right: 1px solid #ccc;
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.question__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px 50px 0 50px;
}

.question__title div {
	display: flex;
	align-items: center;
}

.question__title h1 {
	font-size: 50px;
	font-weight: 400;
	margin-top: -20px;
	margin-left: 50px;
	margin-bottom: -20px;
}

.question__title h2 {
	font-size: 25px;
	font-weight: 200;
	margin-top: -20px;
	margin-left: 70px;
	margin-bottom: -20px;
}

.question__title span {
	color: red;
	margin-top: -40px;
	background-color: red;
}

.question__title div div {
	display: flex;
	align-items: center;
}

.question__title div div h1 {
	font-size: 40px;
	font-weight: 320;
	margin-top: -20px;
	margin-left: 50px;
}

.question__title div div h2 {
	font-size: 50px;
	font-weight: 320;
	margin-top: -20px;
	margin-left: 70px;
}

.search {
	height: 100px;
	margin: 50px;
	border-bottom: 1px solid #ccc;
}

#answer__write {
	margin: 80px 50px;
	border-bottom: 1px solid #ccc;
}

.form-group bg-white {
	width: 1000px;
}

#answer__write form {
	display: flex;
	justify-content: center;
	align-items: center;
}

#answer__write .textbox {
	width: 900px;
	height: 40px;
	font-size: 25px;
	border: 2px solid #ccc;
	font-size: 25px;
}

.question__type {
	display: flex;
	align-items: center;
}

.question__category__info input {
	margin-bottom: 10px;
	margin-left: 20px;
	font-size: 40px;
}

.search form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search .textbox {
	width: 900px;
	height: 40px;
	font-size: 25px;
	border: 2px solid #ccc;
}

.search .submit {
	width: 250px;
	height: 44px;
	margin-left: 10px;
	border: 2px solid #ccc;
	font-size: 25px;
}

#show__write button {
	width: 100px;
	height: 50px;
	background-color: #FBFBFB;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.submit {
	width: 100px;
	height: 50px;
	background-color: #FBFBFB;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.answer_status {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-right: 20px;
	align-items: center;
}

.delete button {
	border-style: none;
	background-color: #fff;
	margin-right: -40px;
	font-size: 17px;
	text-decoration: underline;
	font-size: 17px;
}

.answer__btn button {
	width: 100px;
	height: 50px;
	background-color: #FBFBFB;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-right: 30px;
}

.question__content {
	display: flex;
	margin: 0 50px 50px 50px;
	border-bottom: 1px solid #ccc;
}

.question__content h2 {
	font-weight: 400;
}

.show__content {
	margin-top: -20px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 100px;
	display: flex;
}
.show span{
	margin-left: -400px;
}
.question__category {
	width: 150px;
	height: 50px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid red;
	margin-right: 100px;
}

.show h2 {
	width: 750px;
}

.answer {
	display: flex;
	margin-left: -400px;
}

.answer_status {
	width: 100px;
}

.question__content_show {
	width: 1400px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hide {
	margin-top: 20px;
	width:1400px;
	background-color: #FAFAFA;
	overflow-y: auto;
	height: auto;
}

.hide h4 {
	width: 800px;
	font-weight: 500;
	align-items: center;
	line-height: 200%;
	padding: 20px 0;
	margin-left: 330px;
}

.page {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.page a {
	margin: 30px;
}