/*
작성자 : 전대영 
*/
@charset "UTF-8";

body {
	margin: 0 auto;
}

.menu button {
	width: 200px;
	height: 95px;
	font-size: 20px;
	background-color: #fff;
	border-style: none;
}

.menu button:hover {
	background-color: #F6F6F6;
}

.menu {
	display: flex;
}

.search {
	height: 100px;
	margin: 50px;
	border-bottom: 1px solid #ccc;
}

.search form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search .textbox {
	width: 900px;
	height: 40px;
	font-size: 25px;
	border: 2px solid #ccc;
}

.search .submit {
	width: 250px;
	height: 44px;
	margin-left: 10px;
	border: 2px solid #ccc;
	font-size: 25px;
}

.review__header {
	display: flex;
	justify-content: center;
	margin-top: 100px;
	padding: 300px;
	background-image: url('/images/background/review.png');
	background-position: center;
}

.review__header h1 {
	font-size: 70px;
	color: #fff;
	font-weight: 400;
	margin-top: 70px;
}

.menu {
	height: 100px;
	border: 1px solid #ccc;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.menu div {
	height: 100px;
	border-right: 1px solid #ccc;
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.review__title {
	margin: 50px 50px 0 50px;
}

.review__title div {
	display: flex;
	align-items: center;
}

.review__title h1 {
	font-size: 50px;
	font-weight: 320;
	margin-top: -20px;
	margin-left: 70px;
	margin-bottom: -20px;
}

.review__title h2 {
	font-size: 40px;
	font-weight: 320;
	margin-top: -20px;
	margin-left: 50px;
	margin-bottom: -20px;
}

.review__title span {
	color: red;
	background-color: red;
}

.review {
	margin-top: 50px;
}

.review__content {
	display: flex;
	width: 1400px;
	margin-bottom: 50px;
	margin-left: 60px;
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
}

.show__content {
	margin-left: 100px;
	margin-top: 10px;
}

.review__content__info {
	display: flex;
}

.review__content__username {
	font-weight: 300;
}

.show__content p {
	height: 140px;
	display: block;
	color: black;
	width: 1000px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	line-height: 1.2;
	text-align: left;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
}

.show__content h3 {
	font-weight: 300;
}

.page {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.page a {
	margin: 30px;
}