/*
작성자 : 전대영 
*/
@charset "UTF-8";

<<<<<<< HEAD
body {
	margin: 0 auto;
}

=======
>>>>>>> 6efe8bfd03f2fceedd8338d99e7968d9837aad5a
.menu {
	display: flex;
}

<<<<<<< HEAD
.review__header {
	display: flex;
	justify-content: center;
	padding: 300px;
=======
.show__header {
	display: flex;
	justify-content: center;
	padding: 300px;
	margin-top: 100px;
>>>>>>> 6efe8bfd03f2fceedd8338d99e7968d9837aad5a
	background-image: url('/images/background/show.png');
	background-position: bottom;
}

<<<<<<< HEAD
.review__header h1 {
	font-size: 70px;
	color: #fff;
	font-weight: 400;
	margin-top: 70px;
}
=======
>>>>>>> 6efe8bfd03f2fceedd8338d99e7968d9837aad5a

.menu {
	height: 100px;
	border: 1px solid #ccc;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.menu div {
	height: 100px;
	border-right: 1px solid #ccc;
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

<<<<<<< HEAD
.review__title {
=======
.show__title {
>>>>>>> 6efe8bfd03f2fceedd8338d99e7968d9837aad5a
	margin: 50px;
	border-bottom: 1px solid #ccc;
}

<<<<<<< HEAD
.review__title div {
=======
.show__title div {
>>>>>>> 6efe8bfd03f2fceedd8338d99e7968d9837aad5a
	display: flex;
	align-items: center;
}

<<<<<<< HEAD
.review__title h1 {
=======
.show__title h1 {
>>>>>>> 6efe8bfd03f2fceedd8338d99e7968d9837aad5a
	font-size: 50px;
	font-weight: 320;
	margin-top: -20px;
	margin-left: 70px;
}

<<<<<<< HEAD
.review__title h2 {
=======
.show__title h2 {
>>>>>>> 6efe8bfd03f2fceedd8338d99e7968d9837aad5a
	font-size: 40px;
	font-weight: 320;
	margin-top: -20px;
	margin-left: 50px;
}

<<<<<<< HEAD
.review__title span {
=======
.show__title span {
>>>>>>> 6efe8bfd03f2fceedd8338d99e7968d9837aad5a
	color: red;
	background-color: red;
}

<<<<<<< HEAD
.review {
=======
.show {
>>>>>>> 6efe8bfd03f2fceedd8338d99e7968d9837aad5a
	margin-top: 50px;
}

.review__content {
	display: flex;
	width: 1000px;
	margin-left: 200px;
	margin-bottom: 50px;
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
}

.show__content {
	margin-left: 100px;
	margin-top: 10px;
}

.show__content p {
<<<<<<< HEAD
	height:140px;
=======
	height: 140px;
>>>>>>> 6efe8bfd03f2fceedd8338d99e7968d9837aad5a
	display: block;
	color: black;
	width: 630px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	line-height: 1.2;
	text-align: left;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
}
<<<<<<< HEAD
.show__content h3{
	font-weight: 300;	
=======

.show__content h3 {
	font-weight: 300;
>>>>>>> 6efe8bfd03f2fceedd8338d99e7968d9837aad5a
}

.page {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.page a {
	margin: 30px;
}