/*
작성자 편용림
*/
@charset "UTF-8";

body {
	height: 1400px;
	margin: 0 auto;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

input.info {
	border: none;
	border-bottom: 1px solid black;
	outline: none;
}

input.infoPw {
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	width: 390px;
	margin: 5px;
}

.signInContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.loginContainer {
	display: flex;
	justify-content: start;
	align-items: flex-start;
	flex-direction: column;
	margin: 100px;
	margin-left: 100px;
}

.login {
	background-color: rgb(255, 80, 90);
	color: white;
	border-radius: 5px;
	border: 0;
	padding: 30px 175px;
	padding-bottom: 50px;
	margin-top: 30px;
	margin-left: 35px;
	font-size: large;
	text-align: center;
}

#signup {
	background-color: white;
	color: #C0C0C0;
	border: 0;
	font-size: 17px;
}

p {
	text-align: center;
}

i {
	color: lightgray;
	position: absolute;
	margin-left: 400px;
}

#imail {
	display: flex;
	justify-content: center;
	align-items: center;
}

#ipw {
	display: flex;
	justify-content: center;
	align-items: center;
}

#email {
	display: flex;
	justify-content: center;
	align-items: center;
}

#nickname {
	display: flex;
	justify-content: center;
	align-items: center;
}

input {
	border-bottom: 1 solid #FF0000;
	height: 50px;
}

.info {
	width: 400px;
	margin: 5px;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: underline;
}

.loginLogo {
	height: 80px;
	width: 80px;
}

.login--title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-left: 150px;
}

.line {
	margin: 20px;
	border-left: 1px solid #ccc;
	height: 660px;
}

.logobox {
	margin-left: 210px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin-top: 20px;
}

.logobox img {
	margin: 7px;
}

.field.birth div {
	display: flex;
	gap: 20px;
}

.field.birth input {
	width: 130px;
}

.error--messege {
	color: red;
	font-size: 15px;
}

.birthDate {
	margin-left: -50px;
}