@charset "UTF-8";

.faq__header {
	display: flex;
	justify-content: center;
	margin-top: 100px;
	padding: 300px;
	background-image: url('/images/background/faq.png');
	background-position: 50% 10%;
}

.material-title {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 0 100px;
}

.faq--header h2 {
	font-size: 50px;
	margin-left: 30px;
	font-weight: 300;
}

.faq-type ul {
	display: flex;
	margin-bottom: 100px;
	margin-top: 9px;
}

.faq-type ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}

.faq-type ul li form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.faq-type ul li form button {
	font-size: 20px;
}

.faq--title {
	width: 1540px;
	margin-left: -40px;
	margin-top: -10px;
}

.category-list:nth-of-type(1) {
	border: 1px solid #ebebeb;
	width: 400px;
	height: 100px;
	text-align: center;
}

.category-list {
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	width: 400px;
	height: 100px;
	text-align: center;
}

.faq-type-btn {
	border: 0;
	outline: 0;
	background: none;
	font-size: 16px;
	color: gray;
	align-items: center;
}

.faq--container {
	width: 90%;
	margin: 0 auto;
	border-top: 1px solid #ccc;
}

.panel-question {
	margin-bottom: 20px;
	/*  background-color: #fff; */
}

.panel-heading {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	cursor: pointer;
	font-size: 30px;
	font-weight: 300px;
	margin-top: 50px;
	margin-left: 30px;
	
}

.panel-body {
	padding: 15px;
	display: none;
}

.active .panel-body {
	display: block;
}

.panel-question {
	padding-bottom:50px;
	border-bottom: 1px solid #ccc;
	width: 1300px;
}

#thisone p {
	font-size: 25px;
	font-weight: 200;
}

.material-symbols-outlined {
	height: 25px;
	width: 25px;
	color: red;
	background-color: red;
	color: red;
}

.panel-img {
	height: 30px;
	width: 30px;
}