/*
작성자 : 김미정
 */
@charset "UTF-8";

#nav .main{
	margin-top: 35px;
}
.title .user--btn{
	margin-top: 23px;
}


.show-content {
	position:relative;
	max-width: 1280px;
	margin: 0 auto;
	margin-top:100px;
	margin-bottom: 100px;
}

.show-title {
	position: relative;
	font-size: 30px;
	line-height: 35px;
	padding: 5px 0 20px 20px;
	margin-bottom: 30px;
	border-bottom: 1px solid black;
	margin-top: 50px;
}

.show-title a {
	text-decoration: none;
	color: black;
}

.show-type {
	border-spacing: 0;
}

.category-list-table {
	display: flex;
	justify-content: center;
	margin: 10px 0 10px 0;
	width: 100%;
}

.category-list:nth-of-type(1) {
	border: 1px solid #ebebeb;
	width: 400px;
	height: 60px;
	text-align: center;
}

.category-list:nth-of-type(2) {
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	width: 400px;
	height: 60px;
	text-align: center;
}

.category-list:nth-of-type(3) {
	border: 1px solid #ebebeb;
	width: 400px;
	height: 60px;
	text-align: center;
}

.show-type-btn {
	border: 0;
	outline: 0;
	background: none;
	font-size: 16px;
	color: gray;
}

.show-type-btn:hover {
	color: black;
	font-weight: bold;
}

#calendar {
	margin-top: 100px;
}

.fc-event-title-container {
	cursor: pointer;
}

.modal {
	display: none;
	position: relative;
	z-index: 9999;
	width: 100%;
	left: 500px;
	bottom: 500px;
	background-color: #ccc;
}

.modal-content {
	background-color: white;
	position: fixed;
	border-radius: 10px;
	margin: 15% auto;
	padding: 20px;
	z-index: 1;
	border: 1px solid #888;
	width: 300px;
	height: 430px;
}

.modal-content  button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.imgRoute {
	text-align: center;
}

.modal-title {
	margin-left: 0;
	width: 250px;
	margin: 5px 0px;
}

.showView {
	margin-left: 0;
	border: none;
	width: 300px;
	height: 40px;
	background-color: #DBE4EB;
	cursor: pointer;
}

button:hover {
	transform: none;
}
.user--btn form button{
	margin-top:26px;
}
p {
	margin: 10px 0;
}

.fc .fc-button-primary {
	background-color: #FAEBD7;
	border: 1px solid #ccc;
	color: black;
}

.fc .fc-button-primary:disabled {
	background-color: #FFCE6B;
	border: 1px solid #ccc;
	color: black;
}

.fc .fc-button-group>.fc-button:focus, .fc .fc-button-group>.fc-button:active,
	.fc .fc-button-group>.fc-button.fc-button-active {
	background-color: #f5de98;
	border: 1px solid #ccc;
	color: black;
}